$color-primary: #9728C9;
$color-secondary: #2F6EB7;
$color-tertiary: #73B72F;

$color-gray-1: #717171;
$color-gray-2: #D6D6D6;

$color-red: #D02F2F;
$color-green: #8FD53F;
$color-white: #fff;
$color-black: #000;
