.btn-number {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: $color-gray-2;
  color: $color-gray-1;
  border: none;
  cursor: pointer;
  font-size: 1.8rem;
  transition: all .2s;

  @include btn-hover($color-gray-2);
}
.btn-number.active {
  color: $color-white;
  background-color: $color-primary;
}
